.view-imgs {
    display: flex;
    align-items: center;
    flex-wrap:wrap ;
    break-inside: avoid;
    margin: 2.4%;
}

.view-imgs .position-image {
    display: flex;
    padding: 2px 1px;
    break-inside: avoid;
    outline: 1px gray dashed;
}
.view-imgs .position-image .image {
    width: 186px;
    height: 98px;
}

@page {
    margin: 0;
}